@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #343434;
  --color-blue: #0F4471;
  --color-red: #E02025;
}

@layer utilities {
  * {
    @apply m-0 p-0 box-border font-main
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .grid-cols-custom {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  @media (max-width:992px) {
    .grid-cols-custom {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  .list-item {
    position: relative;
  }

  .list-item::before {
    display: block;
    content: '';
    position: absolute;
    left: -20px; 
    top: 50%;
    transform: translateY(-50%) ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--color-red);
  }
}